#creative {
  .title {
    color: #f59b01;
    text-align: center;
    margin: 20px 0;
  }
  .container {
    max-width: 1150px;

    .creative {
      display: flex;
      align-items: center;
      justify-content: space-between;
      &--content {
        display: flex;
        flex-direction: column;
        gap: 20px;

        opacity: 0;
        transform: translateY(30px);
        animation: fadeInUp 1s ease forwards;
        animation-delay: 0.3s;

        h2 {
          font-weight: 500;
          font-size: 28px;
          line-height: 150%;
          text-transform: uppercase;
          color: #f59b00;

          opacity: 0;
          transform: translateY(20px);
          animation: fadeInUp 0.6s ease forwards;
          animation-delay: 0.4s;
        }

        h1 {
          font-weight: 700;
          font-size: 34px;
          line-height: 140%;
          text-transform: capitalize;
          color: #2f2f2f;
        }

        p {
          font-weight: 400;
          font-size: 16px;
          line-height: 160%;
          text-transform: capitalize;
          color: #2f2f2f;
        }

        button {
          width: 140px;
          height: 50px;
          background: #f59b00;
          border-radius: 5px;
          font-weight: 500;
          font-size: 14px;
          line-height: 150%;
          letter-spacing: 0%;
          text-transform: uppercase;
          color: #ffffff;
          border: none;
          cursor: pointer;

          opacity: 0;
          transform: translateY(20px);
          animation: fadeInUp 0.7s ease forwards;
          animation-delay: 1s;

          transition: background-color 0.3s ease;

          &:hover {
            background-color: #d17e00;
          }
        }
      }
    }
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
  from {
    opacity: 0;
    transform: translateY(30px);
  }
}
