.cartCard {
  height: 160px;
  box-shadow: 0px 1px 5px 1px rgb(87, 87, 87);
  border-radius: 8px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  img {
    width: 15%;
    height: 150px;
    object-fit: contain;
  }
  h2 {
    font-size: 18px;
    font-weight: 500;
  }
  h3 {
    font-size: 22px;
    font-weight: 600;
  }
  &--quantity {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #00000020;
    width: 130px;
    height: 40px;
    button {
      width: 40px;
      height: 40px;
      font-size: 23px;
      color: white;
      background: #f59b01;
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        color: red;
      }
    }
  }
}
